body {
  font-family: "Titillium Web", sans-serif;
  color: rgba(0, 0, 0, 0.788);

  background: #efefbb;
  background: -webkit-linear-gradient(to right, #b2afcf, #dddd86d3);
  background: linear-gradient(to right, #b2afcf, #dddd86d3);
}
.bigContainer {
  width: 80%;
  height: 90vh;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.main-container {
  /*
morning
background: #eacda3; 
background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3); 
background: linear-gradient(to right, #e9d38be7, #e98a0575); 
afternoon
  background: #F2994A;  
background: -webkit-linear-gradient(to right, #f3d681, #f7ac6b);  
background: linear-gradient(to right, #f3d681, #f7ac6b); 
end afternoon
background: #DAE2F8; 
background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  
background: linear-gradient(to right, #D6A4A4, #DAE2F8); 
night
background: #1F1C2C;  
background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  
background: linear-gradient(to right, #928DAB, #1F1C2C); 
*/
  background-color: #4954642c;
  background-color: rgba(255, 255, 255, 0.822);
  border-radius: 4px;
  display: block;
  float: left;
  width: 70%;
  height: 60vh;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.788);
  font-size: 0.5em;
  box-shadow: rgba(68, 68, 68, 0.774) 0px 8px 8px 0;
}
#nameGreeting {
  font-weight: 600;
}
.main-container button {
  width: 15px;
  height: 15px;
}
.main-container h1,
h2,
h3 {
  font-size: 1em;
}
.insider {
  display: flex;
  justify-content: space-around;
  height: 50vh;
}
.left {
  /*background-color: aqua;*/
  flex-direction: column;
  display: flex;
  float: left;
  width: 30vw;
  height: 53vh;
}
.mainTitle {
  color: rgba(0, 0, 0, 0.788);
  max-block-size: 13vw;
  height: 30vh;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  font-weight: 600;
  font-size: max(4vw, 7px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  
}

#location {
  margin-left: 0;
  margin-right: 10px;
  font-size: 0.8em;
  color: inherit;
}
.normalText {
  max-width: 30vw;
  margin-left: 30px;
  margin-bottom:50px;
  font-size: max(2vw, 10px);
  font-weight: 900;

}
.smallText {
  font-size: 1.3vw;
  font-weight: 700;
  margin-left: 30px;
  margin-top: -40px;
  
}
.textBig {
  width: 25vw;
  max-height: 9vh;
  margin-left: 30px;
  margin-top: 10px;
  font-weight: 400;
  font-size: max(3.5vw, 10px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.right {
  flex-direction: column;
  /*background-color: rgb(173, 226, 152);*/
  display: flex;
  width: 25vw;
  height: 53vh;
}
#searchForm {
  margin-left: 25px;
  padding: 10px;
}
input[type="text"] {
  height: 5vh;
  font-size: 2em;
  background-color: rgba(233, 230, 230, 0.349);
  width: 16vw;
  color: #000;
  font-weight: 700;
  border: 1.5px solid #fff;
  padding: 4px;
  border-radius: 4px;
  box-shadow: rgba(85, 86, 105, 0.774) 0px 8px 8px 0;
  outline: none;
}
#searchButton {
  margin-left: 5px;
  width: 5vw;
  height: 5vh;
  font-weight: 800;
  padding: 4px;
  outline: none;
  border-radius: 4px;
  border: 1.5px solid #fff;
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.5px;
  background-color: #fff;
  color: #000;
  box-shadow: rgba(85, 86, 105, 0.774) 0px 8px 8px 0;
}
#adicionar:hover {
  border: 1.5px solid #ffe01b;
  background: #ffe01b;
  color: #000;
  cursor: pointer;
}
.tempNav {
  width: 12vw;
  justify-content: flex-start;
  font-size: 2.2em;
  font-weight: 800;
  margin-left: 190px;
  margin-top: 0px;
}
#maxTempSpan {
  margin-left: 20px;
}
.bigTemp {
  width: 10vw;
  height: 10vh;
  font-size: 6em;
  font-weight: 600;
  margin-left: 210px;
}
#imgWeather {
  width: 18vw;
  margin-top: -60px;
  max-width: 20vw;
  max-height: 40vh;
}

.changeTemp {
  width: 100px;
  height: 30px;
  border-radius: 40px;
  padding: 5px;
  font-size: 1em;
  margin-top: -40px;
  margin-left: 230px;
  text-align: center;
  font-weight: 900;
  font-size: 1.6em;
  letter-spacing: 0.5px;
  border: 1.5px solid #fff;
  color: rgba(0, 0, 0, 0.788);
  box-shadow: rgba(85, 86, 105, 0.774) 0px 8px 8px 0;
}
.changeTemp:hover {
  border: 1.5px solid #ffe01b;
  background: #ffe01b;
  color: rgba(0, 0, 0, 0.788);
  cursor: pointer;
}
.navbarBottom {
  margin-top: 24px;
  display: block;
  background-color: rgba(0, 0, 0, 0.788);
  height: 7vh;
  color: rgb(241, 242, 243);
  font-weight: 600;
}
.bottomText {
  display: inline-block;
  font-size: 2em;
  padding: 10px;
  margin: 0 20px;
}
#heart {
  font-size: 2em;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
  margin-left: 10px;
  margin-right: -10px;
  box-shadow: rgb(85, 86, 105) 0px 8px 8px 0;
}
#heart:hover {
  color: #000;
  border: 1px solid #ffe01b;
  background: #ffe01b;
  cursor: pointer;
}
#city {
  font-size: 2em;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
  color: #fff;
  box-shadow: rgb(85, 86, 105) 0px 8px 8px 0;
  margin-left: 20px;
}
#city:hover {
  color: rgba(0, 0, 0, 0.788);
  border: 1px solid #ffe01b;
  background: #ffe01b;
  cursor: pointer;
}
#plus {
  color: #fff;
  font-size: 2em;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
  margin-left: 30px;
  box-shadow: rgb(85, 86, 105) 0px 8px 8px 0;
}
#plus:hover {
  color: rgba(0, 0, 0, 0.788);
  border: 1px solid #ffe01b;
  background: #ffe01b;
  cursor: pointer;
}
.bottomDiv {
  height: 16vh;
  box-shadow: rgba(68, 68, 68, 0.774) 0px 8px 8px 0;
  background-color: rgba(255, 255, 255, 0.822);
  border-radius: 4px;
  margin-top: 2vh;
  font-size: 1.8em;
  font-weight: normal;
}
#bottomDiv {
  display: none;
}
.cancelIcon {
  margin-left: 600px;
}
.cancelIcon:hover {
  color: rgba(0, 0, 0, 0.788);
  border-radius: 50%;
  background: #ffe01b;
  cursor: pointer;
}
table {
  width: 92%;
  margin-left: 2vw;
}
table span {
  font-weight: bolder;
  font-size: 1em;
}
.titleDetails {
  margin-left: 2vw;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.8vh;
  padding-top: 1vh;
}

table,
tr {
  padding: 0 10px;
}
table,
td {
  margin-right: 5px;
}
.tableCell {
  margin-right: 10px;
}
.iconImage {
  width: 2vw;
}
.iconImageSmall {
  width: 3.5vw;
  margin-left: -10px;
}
.iconImageBig {
  width: 1.5vw;
}
.right-container {
  background-color: rgba(255, 255, 255, 0.822);
  border-radius: 4px;
  display: flex;
  float: right;
  width: 25%;
  height: 60vh;
  margin-top: 40px;
  box-shadow: rgba(68, 68, 68, 0.774) 0px 8px 8px 0;
}

ul {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  margin-top: 5px;
}
li {
  list-style: none;
  color: rgba(0, 0, 0, 0.788);
  width: 16vw;
  height: 8vh;
  padding: 18px 20px;
  margin: 1.5vh 1vh;
  font-size: 1.1em;
  font-weight: 900;
  border-bottom: 2px solid rgba(0, 0, 0, 0.61);
}

li:last-child {
  border-bottom: none;
}
li:hover {
  cursor: pointer;
}
.tempColor {
  font-weight: 300;
  font-weight: 900;
  margin-left: 30px;
}
.icon {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.788);
  margin-left: 30px;
}
